@use "../global/mixins_funciones_mapa" as *;
@use "sass:map";

#caja_formulario {
  background-color: map.get($colores, "secundario_dos");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 30%; 

  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex: 1;  

    @include tableta {
      align-items: center;
    }
    @include pantalla_pequeña {
      align-items: center;
    }
    @include pantalla_estandar {
      align-items: center;
    }
    @include pantalla_grande {
      align-items: center;
      input, select {
        font-size: 1.2em;
      }
      input[type="submit"], input[type="reset"] {
        font-size: 1.2em;
      }
    }

    label {
      @include aplicar_fuente('label', 'LTMuseum-Light');
      margin-bottom: 10px;
      text-align: center; 
      width: 100%; 
      padding-top: 15px;
    }

    input, select {
      @include aplicar_fuente('input', 'LTMuseum-Light');
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
    }

    input[type="submit"], input[type="reset"] {
      @include aplicar_fuente('button', 'Classica-Book');
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #333;
      color: white;
      cursor: pointer;
    }

    input[type="submit"]:hover, input[type="reset"]:hover {
      background-color: #555;
    }

    @include pantalla_grande {      

      input[type="submit"], input[type="reset"] {
        width: 45%;
      }
    }
  }
}

@include movil{
  .enviar_borrar{
    align-self: center;
  }
}

