@use 'sass:map';
@font-face {
    font-family: 'MilkAndHoney';
    src: url('/fuente/fuente_letra/MilkAndHoney.woff') format('woff');
}

@font-face {
    font-family: 'Classica-Bold';
    src: url('/fuente/fuente_letra/Classica-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Classica-Book';
    src: url('/fuente/fuente_letra/Classica-Book.woff') format('woff');
}

@font-face {
    font-family: 'Fashion';
    src: url('/fuente/fuente_letra/Fashion.woff') format('woff');
}

@font-face {
    font-family: 'LTMuseum-Bold';
    src: url('/fuente/fuente_letra/LTMuseum-Bold.woff') format('woff');
}

@font-face {
    font-family: 'LTMuseum-light';
    src: url('/fuente/fuente_letra/LTMuseum-Light.woff') format('woff');
}




//Mapa para background-color
$colores: (
    "principal"  : #372715,
    "secundario_uno" : #684825,
    "secundario_dos" : #9D774C,
);

$fuentes: (
    "MilkAndHoney" : "MilkAndHoney",
    "Classica-Bold" : "Classica-Bold",
    "Classica-Book" : "Classica-Book",
    "Fashion" : "Fashion",
    "LTMuseum-Bold" : "LTMuseum-Bold",
    "LTMuseum-Light" : "LTMuseum-Light")
;

$alturas: (
  "1440" : 1440,
  "1080" : 1080,
  "864"  : 864,
  "800"  : 800,
  "1366" : 1366,
  "1024" : 1024,
  "896"  : 896,
  "760"  : 760
);



@mixin altura($altura) {
    @media (min-height: #{map.get($alturas, $altura)}px) {
        @content;
    }
}

@function comprobar_fuente($fuente, $fuente_alternativa) {
    @if map.has-key($fuentes, $fuente) {
        @return map.get($fuentes, $fuente);
    } @else {
        @return map.get($fuentes, $fuente_alternativa);
    }
}




//Mixin para flexbox para no tener que repetir siempre el mismo codigo
@mixin flexible( $dis , $direction , $corte , $just , $align ){ 
    display         : $dis;
    flex-flow       : $direction $corte;
    justify-content : $just;
    align-items     : $align;
}

//Mixins para diferentes puntos de ruptura

@mixin movil(){
    @media (min-width: 360px) and (max-width: 480px)  {
        @content;    
    }
}

@mixin tableta(){
    @media (min-width: 481px) and (max-width: 768px) {
        @content;    
    }
}

@mixin pantalla_pequeña(){
    @media (min-width: 769px) and (max-width: 1200px) {
        @content;    
    }
}

@mixin pantalla_estandar(){
    @media (min-width: 1201px) and (max-width: 1920px) {
        @content;    
    }
}

@mixin pantalla_grande(){
    @media (min-width: 1921px) and (max-width: 2560px) {
        @content;    
    }
}

@mixin responsivo_todos(){
    @include movil{
        @content;
    }
    @include tableta{
        @content;
    }
    @include pantalla_pequeña{
        @content;
    }
    @include pantalla_estandar{
        @content;
    }
    @include pantalla_grande{
        @content;
    }
}

@function comprobar_y_cambiar_fuente($selector, $fuente_deseada) {
    @if map.get($fuentes, $fuente_deseada) == $selector {
        @return $selector;
    } @else {
        @return map.get($fuentes, $fuente_deseada);
    }
}

@mixin aplicar_fuente($selector, $fuente_deseada) {
    font-family: comprobar_y_cambiar_fuente($selector, $fuente_deseada);
}