@media (min-width: 1200px) 
  html, body 
    box-sizing: border-box
    height: 100%
    margin: 0
    padding: 0

  header
    display: flex
    align-items: center
    justify-content: space-around
    background-color: #372715
    height: 20%

    button       
      -radius: 10%
      height: 50px
      background-color: white
      color: black
      font-family: averia-serif
      text-transform: uppercase
      font-weight: bold
      margin: 0 10px

    #pedir_cita
      font-family: Milk And Honey

    img
      max-width: 100%
      max-height: 100%
      object-fit: cover

  #presentacion
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../imagenes/hero_img_3792x2524.avif")
    background-size: cover
    background-position: center
    height: 80%
    padding-top: 5%
    padding-right: 8%
    display: flex
    align-items: flex-end
    flex-direction: column
    color: white

    article:first-of-type
      text-align: center
      color: black
      width: 50%
      background-color: #684825
      color: white

  .valores
    padding-top: 5%
    margin-right: 5%
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 70%
    width: 40%
    margin-top: 0.5%

    article
      box-sizing: border-box
      height: 30%
      width: 40%
      color: black
      background-color: white
      flex: 48%
      text-align: center
      margin-right: 2%
      overflow: hidden
      background-color: #684825
      color: white

    p
      margin: 0
      padding-top: 5%

  #modalidades
    padding-top: 1%
    text-align: center
    justify-content: space-around
    align-items: flex-start
    display: flex
    overflow: hidden
    height: 60%
    background-color: #9D774C

  #presencial, #online
    width: 40%
    height: 80%
    object-fit: cover
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

    p
      height: 10%
      width: 50%
      background-color: white
      text-align: center

    img
      max-width: 80%
      max-height: 80%
      object-fit: cover

  #especialidades
    box-sizing: border-box
    display: flex
    align-items: center
    flex-wrap: wrap
    height: 70%
    background-color: #7B5C39
    justify-content: center
    flex-direction: column
    overflow: hidden

    h3
      background-color: white
      align-self: center
      margin-bottom: auto
      margin-top: 2%

    article
      height: 80%
      width: 50%
      margin-bottom: 2%
      overflow: hidden
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      p
        text-align: center
        text-transform: uppercase
        background-color: white
        height: 12%
        width: 20%
        margin: 2.5%
        padding: 0
        display: flex
        align-items: center
        justify-content: center

  footer  
    box-sizing: border-box  
    display: flex
    justify-content: space-between      
    height: 35%
    background-color: #372715

    #redes_sociales, #como_llegar           
      display: flex 
      align-items: flex-start
      width: 20%
      justify-content: flex-start
      flex-direction: column      
      margin-left: 20px       

      p
        display: flex
        align-items: center
        color: white
        margin: 0
        white-space: nowrap
        margin-bottom: 10px

        img
          margin-right: 10px
          max-width: 40px
          height: auto

    .mapa    
      display: flex 

 
@media (max-width: 480px)
  html, body
    box-sizing: border-box
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    overflow-x: hidden

  header
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    background-color: #372715
    height: 20%

    button
      border-radius: 10%
      height: 50px
      background-color: white
      color: black
      font-family: averia-serif
      text-transform: uppercase
      font-weight: bold
      margin: 0 10px

    #pedir_cita
      font-family: Milk And Honey

    img
      max-width: 70%
      max-height: 70%
      object-fit: cover

  #presentacion
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../imagenes/hero_img_3792x2524.avif")
    background-size: cover
    background-position: center
    height: 80%
    padding-top: 5%    
    display: flex
    align-items: center
    flex-direction: column
    color: white

    h3
      text-align: center
      color: black
      width: 90%
      background-color: #684825
      color: white

  .valores      
    display: flex    
    justify-content: center
    align-items: center
    flex-direction: column
    height: 90%
    width: 90%    

    article
      margin-top: 2%
      padding-top: 2%
      box-sizing: border-box
      height: 40%
      width: 100%
      color: black
      background-color: white
      text-align: center      
      overflow: hidden
      background-color: #684825
      color: white
      margin-bottom: 10px

    p
      margin: 0

  #modalidades   
    text-align: center
    flex-direction: column    
    align-items: center
    display: flex
    overflow: hidden
    height: 60%
    background-color: #9D774C

  #presencial, #online
    margin-top: 2%
    margin-bottom: 2%     
    width: 90%
    height: 80%    
    display: flex    
    flex-direction: column
    align-items: center
    overflow: hidden

    p
      height: 10%
      width: 100%
      background-color: white
      text-align: center

    img
      width: 100%
      height: 100%
      object-fit: fill

    img
      max-width: 100%
      max-height: 100%

  #especialidades
    box-sizing: border-box
    display: flex
    align-items: center    
    height: 100%
    background-color: #7B5C39
    justify-content: center
    flex-direction: column
    overflow: hidden

    h3
      padding-top: 0
      background-color: white
      align-self: center
      margin-top: 10%

    article           
      margin-left: 0.8%
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      flex-wrap: wrap     
      height: 100%
      width: 100%
      padding: 0

      p
        text-align: center
        text-transform: uppercase
        background-color: white
        height: 10%
        width: 45%
        margin: 2%
        padding: 0
        display: flex
        align-items: center
        justify-content: center

  footer     
    box-sizing: border-box  
    display: flex
    flex-direction: column 
    height: 50% 
    background-color: #372715
    margin: 0 

    iframe
      margin-top: 1%      
      height: 90% 
      width: 100% 
      order: 1      

    div       
      justify-content: space-between     
      display: flex      
      order: 2      
      width: 100%
      overflow: hidden

      #redes_sociales, #como_llegar 
        padding-left: 1% 
        padding-right: 1%     
        display: flex
        width: 40% 
        flex-direction: column 

        h3
          background-color: white
          width: 100% 
          margin-top: 0
          padding-top: 0     

        p  
          display: flex
          align-items: center
          color: white
          margin: 0
          white-space: nowrap
          margin-bottom: 10px

          img
            margin-right: 3%
            max-width: 15%
            height: auto