@charset "UTF-8";
/*Archivo sass para crear funcionalidad mediante mixins, fuentes de letra importada, mapas y una funcion*/
@font-face {
  font-family: "MilkAndHoney";
  src: url("../fuente_letra/MilkAndHoney.woff") format("woff");
}
@font-face {
  font-family: "Classica-Bold";
  src: url("../fuente_letra/Classica-Bold.woff") format("woff");
}
@font-face {
  font-family: "Classica-Book";
  src: url("../fuente_letra/Classica-Book.woff") format("woff");
}
@font-face {
  font-family: "Fashion";
  src: url("../fuente_letra/Fashion.woff") format("woff");
}
@font-face {
  font-family: "LTMuseum-Bold";
  src: url("../fuente_letra/LTMuseum-Bold.woff") format("woff");
}
@font-face {
  font-family: "LTMuseum-light";
  src: url("../fuente_letra/LTMuseum-Light.woff") format("woff");
}
/*Mixins para diferentes puntos de ruptura, que se aplican desde el ancho de corrección hasta el máximo siguiente
+1 pixel para cambiar el estandar de un dispositivo a otro*/
/*Funcion que comprueba si un elemento/selector tiene una fuente desesada, si no la tiene se la cambia
y si la tiene no hace mas cambios, aquí se coloca un operador logico ==*/
/*la funcion como tal no se puede aplicar sola, se necesita de un mixin de apoyo, por lo que se añade el paso final
para aplicar el contenido css en font-family*/
/* Clase base para html y body para poder heredar en tarea 12 */
html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Creación del html y el body en conjunto para que se comparta en todos los archivos, se quitan los márgenes
para que se incluya todo el contenido */
header {
  width: 100%;
  min-height: 10%;
  overflow: hidden;
  background-color: #372715;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 80%;
}

header li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60px;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 1200px) {
  header li {
    width: 20%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header li {
    width: 28%;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  header li {
    width: 18%;
  }
}
@media (min-width: 1921px) {
  header li {
    width: 18%;
  }
}

header p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: white;
  color: black;
  font-family: averia-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e9d5c5;
  width: 90%;
  font-size: 0.7em;
  height: 4vh;
  text-align: center;
  line-height: 2.3vh;
  text-decoration: none;
}
@media (min-width: 360px) and (max-width: 480px) {
  header p {
    font-size: 1.3vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header p {
    font-size: 1.4vh;
    height: 4.5vh;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  header p {
    font-size: 1.5vh;
    height: 4vh;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  header p {
    font-size: 2vh;
    height: 5vh;
  }
}
@media (min-width: 1921px) {
  header p {
    font-size: 2vh;
    height: 5vh;
  }
}
header p a {
  all: unset;
  text-align: center;
  line-height: 2.3vh;
}

#pedir_cita {
  font-family: "MilkAndHoney";
}

header img {
  object-fit: cover;
}
@media (min-width: 360px) and (max-width: 480px) {
  header img {
    max-width: 20%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header img {
    max-width: 15%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  header img {
    max-width: 15%;
    max-height: 10%;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  header img {
    max-width: 15%;
    max-height: 10%;
  }
}
@media (min-width: 1921px) {
  header img {
    max-width: 15%;
    max-height: 10%;
  }
}

#terapeutas {
  min-height: 60%;
  background-color: #684825;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#terapeutas picture {
  width: 100%;
  display: block;
}
#terapeutas picture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#terapeutas h3 {
  font-family: "Classica-Book";
  text-align: center;
  font-size: 3vh;
  background-color: #e9d5c5;
  width: 90%;
  border-radius: 5px;
}

#psico1, #psico2 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
  border-radius: 5px;
  min-height: 450px;
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1, #psico2 {
    min-height: 450px;
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1, #psico2 {
    min-height: 550px;
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1, #psico2 {
    min-height: 300px;
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 1921px) {
  #psico1, #psico2 {
    min-height: 650px;
    flex-direction: row;
    align-items: normal;
  }
}
#psico1 .caja_img, #psico2 .caja_img {
  width: 100%;
  border-radius: 5px;
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 .caja_img, #psico2 .caja_img {
    width: 45%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 .caja_img, #psico2 .caja_img {
    width: 44%;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 .caja_img, #psico2 .caja_img {
    width: 40%;
  }
}
@media (min-width: 1921px) {
  #psico1 .caja_img, #psico2 .caja_img {
    width: 44%;
  }
}
#psico1 .caja_img img, #psico2 .caja_img img {
  width: 100%;
  border-radius: 5px;
}
#psico1 article, #psico2 article {
  background-color: #372715;
  border-radius: 5px;
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 article, #psico2 article {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 article, #psico2 article {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 article, #psico2 article {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1921px) {
  #psico1 article, #psico2 article {
    display: flex;
    flex-direction: row;
  }
}
#psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
@media (min-width: 360px) and (max-width: 480px) {
  #psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
    height: 400px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
@media (min-width: 1921px) {
  #psico1 article .cont_psico1, #psico1 article .cont_psico2, #psico2 article .cont_psico1, #psico2 article .cont_psico2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
#psico1 article .cont_psico1 h3, #psico1 article .cont_psico2 h3, #psico2 article .cont_psico1 h3, #psico2 article .cont_psico2 h3 {
  font-family: "Classica-Book";
  text-align: center;
  height: 3.7vh;
  background-color: #e9d5c5;
  width: 90%;
  margin: 1% auto;
  border-radius: 5px;
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 article .cont_psico1 h3, #psico1 article .cont_psico2 h3, #psico2 article .cont_psico1 h3, #psico2 article .cont_psico2 h3 {
    width: 70%;
    margin: 3% auto;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 article .cont_psico1 h3, #psico1 article .cont_psico2 h3, #psico2 article .cont_psico1 h3, #psico2 article .cont_psico2 h3 {
    width: 70%;
    margin: 3% auto;
    font-size: 3vh;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 article .cont_psico1 h3, #psico1 article .cont_psico2 h3, #psico2 article .cont_psico1 h3, #psico2 article .cont_psico2 h3 {
    width: 70%;
    margin: 3% auto;
    font-size: 3vh;
  }
}
@media (min-width: 1921px) {
  #psico1 article .cont_psico1 h3, #psico1 article .cont_psico2 h3, #psico2 article .cont_psico1 h3, #psico2 article .cont_psico2 h3 {
    width: 70%;
    margin: 3% auto;
    font-size: 3vh;
  }
}
#psico1 article .cont_psico1 p, #psico1 article .cont_psico2 p, #psico2 article .cont_psico1 p, #psico2 article .cont_psico2 p {
  font-family: "LTMuseum-Light";
  text-align: justify;
  margin: 3%;
  font-size: 0.86em;
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 article .cont_psico1 p, #psico1 article .cont_psico2 p, #psico2 article .cont_psico1 p, #psico2 article .cont_psico2 p {
    font-family: "LTMuseum-Light";
    text-align: justify;
    font-size: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 article .cont_psico1 p, #psico1 article .cont_psico2 p, #psico2 article .cont_psico1 p, #psico2 article .cont_psico2 p {
    font-family: "LTMuseum-Light";
    text-align: justify;
    font-size: 1.3em;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 article .cont_psico1 p, #psico1 article .cont_psico2 p, #psico2 article .cont_psico1 p, #psico2 article .cont_psico2 p {
    font-family: "LTMuseum-Light";
    text-align: justify;
    font-size: 1.4em;
  }
}
@media (min-width: 1921px) {
  #psico1 article .cont_psico1 p, #psico1 article .cont_psico2 p, #psico2 article .cont_psico1 p, #psico2 article .cont_psico2 p {
    font-family: "LTMuseum-Light";
    text-align: justify;
    font-size: 1.8em;
  }
}
#psico1 .redes, #psico2 .redes {
  background-color: #9D774C;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}
#psico1 .redes ul, #psico2 .redes ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  list-style-type: none;
}
#psico1 .redes li, #psico2 .redes li {
  margin: 0 10px;
}
#psico1 .redes a, #psico2 .redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 2rem;
  min-width: 50px;
  text-decoration: none;
}
#psico1 .redes a:hover, #psico2 .redes a:hover {
  color: #fff;
}
#psico1 .redes a i, #psico2 .redes a i {
  font-size: 2rem;
}
#psico1 .texto, #psico2 .texto {
  height: 46%;
  display: flex;
  background: #e9d5c5;
  align-items: center;
  justify-content: center;
  margin: 3%;
  border-radius: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 100%;
  overflow: hidden;
  font-size: 1.5em;
}
@media (min-width: 360px) and (max-width: 480px) {
  #psico1 .texto, #psico2 .texto {
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #psico1 .texto, #psico2 .texto {
    flex-grow: 1;
    flex-shrink: 1;
    height: 85%;
    width: 90%;
    font-size: 1.25em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #psico1 .texto, #psico2 .texto {
    flex-grow: 1;
    flex-shrink: 1;
    height: 85%;
    width: 90%;
    font-size: 1.25em;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  #psico1 .texto, #psico2 .texto {
    flex-grow: 1;
    flex-shrink: 1;
    height: 40%;
    width: 90%;
    font-size: 1.5em;
  }
}
@media (min-width: 1921px) {
  #psico1 .texto, #psico2 .texto {
    flex-grow: 1;
    flex-shrink: 1;
    height: 46%;
    width: 90%;
    font-size: 1.5em;
  }
}

/*Clase general para aplicar los contenidos al pie de página, está en el directorio global
ya que es posible que para la página entera se haga algún cambio

En esta clase se usan los elementos como anidación, en otras clase se hará al revés, para ver que se puede 
hacer de un lado a otro*/
footer {
  display: flex;
  min-height: 25%;
  box-sizing: border-box;
  background-color: #372715;
  overflow: hidden;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    min-height: 25%;
  }
}
footer #contacto {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer #contacto {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    order: 2;
    margin-top: 1%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer #contacto {
    width: 100%;
    order: 2;
    margin-top: 3%;
  }
}
footer #contacto #redes_sociales, footer #contacto #como_llegar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer #contacto #redes_sociales, footer #contacto #como_llegar {
    margin-right: 3%;
  }
}
footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
  background-color: white;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  font-family: averia-serif;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10%;
  background-color: #e9d5c5;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
    height: 30%;
    font-size: 70%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
    height: 30%;
    font-size: 70%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
    height: 18%;
    margin-top: 10%;
    font-size: 2vh;
    text-align: center;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
    height: 21%;
    margin-top: 5%;
    font-size: 2.5vh;
    text-align: center;
  }
}
@media (min-width: 1921px) {
  footer #contacto #redes_sociales h3, footer #contacto #como_llegar h3 {
    height: 21%;
    margin-top: 5%;
    font-size: 3vh;
    text-align: center;
  }
}
footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
  align-items: center;
  color: white;
  margin: 0;
  white-space: nowrap;
  font-family: "LTMuseum-Light";
}
footer #contacto #redes_sociales p img, footer #contacto #como_llegar p img {
  margin-right: 10px;
  vertical-align: middle;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
    margin-bottom: 10px;
  }
  footer #contacto #redes_sociales p img, footer #contacto #como_llegar p img {
    max-width: 15%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
    margin-bottom: 10px;
    font-size: 2vh;
    padding: 2%;
  }
  footer #contacto #redes_sociales p img, footer #contacto #como_llegar p img {
    max-width: 15%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
    font-size: 2vh;
    padding: 2%;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
    font-size: 2vh;
    padding: 2%;
  }
}
@media (min-width: 1921px) {
  footer #contacto #redes_sociales p, footer #contacto #como_llegar p {
    font-size: 3vh;
    padding: 2%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer #contacto {
    margin-top: 1%;
    justify-content: space-between;
    order: 2;
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  footer #contacto {
    justify-content: space-evenly;
    width: 100%;
    min-height: 20%;
  }
  footer #contacto iframe {
    width: 300px;
    height: 150px;
  }
  footer #contacto #redes_sociales, footer #contacto #como_llegar {
    width: 40%;
  }
  footer #contacto h3 {
    height: 21%;
    margin-top: 10%;
    font-size: 2vh;
    text-align: center;
  }
  footer #contacto p {
    font-size: 2vh;
    padding: 2%;
  }
  footer #contacto p img {
    max-width: 40px;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  footer #contacto {
    justify-content: space-evenly;
    width: 100%;
    min-height: 20%;
  }
  footer #contacto iframe {
    width: 300px;
    height: 100%;
  }
  footer #contacto #redes_sociales, footer #contacto #como_llegar {
    width: 40%;
  }
  footer #contacto h3 {
    height: 21%;
    margin-top: 10%;
    font-size: 2vh;
    text-align: center;
  }
  footer #contacto p {
    font-size: 2vh;
    padding: 2%;
  }
  footer #contacto p img {
    max-width: 40px;
  }
}
@media (min-width: 1921px) {
  footer #contacto {
    justify-content: space-evenly;
    width: 100%;
    min-height: 20%;
  }
  footer #contacto iframe {
    width: 300px;
    height: 100%;
  }
  footer #contacto #redes_sociales, footer #contacto #como_llegar {
    width: 40%;
  }
  footer #contacto h3 {
    height: 21%;
    margin-top: 10%;
    font-size: 2vh;
    text-align: center;
  }
  footer #contacto p {
    font-size: 2vh;
    padding: 2%;
  }
  footer #contacto p img {
    max-width: 40px;
  }
}
footer iframe {
  display: flex;
}
@media (min-width: 360px) and (max-width: 480px) {
  footer iframe {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 90%;
    width: 100%;
    order: 1;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer iframe {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 90%;
    width: 100%;
    order: 1;
    align-items: center;
    margin-top: 2%;
    height: 200px;
    width: 400px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  footer iframe {
    width: 300px;
    height: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1920px) {
  footer iframe {
    width: 300px;
    height: 100%;
  }
}
@media (min-width: 1921px) {
  footer iframe {
    width: 650px;
    height: 100%;
  }
}

/*# sourceMappingURL=sobre_nosotros.css.map */
