@use '../global/mixins_funciones_mapa.scss' as *;
@use 'sass:map';

#especialidades {
    box-sizing: border-box;
    @include flexible(flex, column, nowrap, center, center);
    height: 100%;
    background-color: map.get($colores, "secundario_uno");
    overflow: hidden;

    h3 {
        padding-top: 0;
        background-color: white;
        align-self: center;
        margin-top: 10%;
        @include aplicar_fuente('h3', 'Classica-Bold');
    }

    article {
        margin-left: 0.8%;
        @include flexible(flex, column, wrap, center, center);
        height: 100%;
        width: 100%;
        padding: 0;

        p {
            text-align: center;
            text-transform: uppercase;
            background-color: white;
            height: 10%;
            width: 45%;
            margin: 2%;
            padding: 0;
            @include flexible(flex, row, nowrap, center, center);
            @include aplicar_fuente('p', 'Classica-Light');
        }
    }

    @include movil() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            @include aplicar_fuente('h3', 'Classica-Bold');
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include aplicar_fuente('p', 'Classica-Light');
            }
        }
    }

    @include tableta() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            font-size: 20px;
            width: 90%;
            margin-top: 2%;
            text-align: center;
            @include aplicar_fuente('h3', 'Classica-Bold');
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                font-size: 20px;
                width: 45%;
                margin: 1%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include aplicar_fuente('p', 'Classica-Light');
            }
        }
    }

    @include pantalla_pequeña() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 2%;
            width: 90%;
            font-size: 30px;
            text-align: center;
            @include aplicar_fuente('h3', 'Classica-Bold');
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 1%;
                font-size: 30px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include aplicar_fuente('p', 'Classica-Light');
            }
        }
    }

    @include pantalla_estandar() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            font-size: 28px;
            margin-top: 1%;
            width: 70%;
            text-align: center;
            @include aplicar_fuente('h3', 'Classica-Bold');
        }

        article {            
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
        padding: 0;
        align-content: center;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 20%;
                margin: 3.5%;
                padding: 0%;
                display: flex;
                align-items: center;
                font-size: 25px;
                justify-content: center;
                @include aplicar_fuente('p', 'Classica-Light');
            }
        }
    }

    @include pantalla_grande() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            width: 70%;
            font-size: 40px;
            margin-top: 1%;
            text-align: center;
            @include aplicar_fuente('h3', 'Classica-Bold');
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 80%;
            width: 80%;
            padding: 0;
            align-content: center;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 25%;
                margin: 3%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                @include aplicar_fuente('p', 'Classica-Light');
            }
        }
    }
}
