@use "../global/mixins_funciones_mapa" as *;
@use "sass:map";

#ofertas {
  min-height: 30%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  justify-content: space-around;

  article {
    text-align: center;
    width: 30%;

    h3 {
      @include aplicar_fuente('h3', 'Classica-Book');
      background-color: white
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
      font-size: 8vh;
      color: white;
    }
  }
}

#pack {
  min-height: 30%;
  background-color: map.get($colores, "secundario_dos");
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    background-color: white;
  }

  h4 {
    @include aplicar_fuente('h4', 'Classica-Book');
    background-color: white;
  }

  p {
    @include aplicar_fuente('p', 'LTMuseum-Light');
    font-size: 8vh;
    color: white;
  }
}

#seguro_escolar {
  min-height: 40%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    background-color: white
  }

  article {
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: column;
    align-items: center;

    

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }
  }

  .caja_texto {
    text-align: justify;
    width: 90%;
    background-color: white;

    p {
      margin: 1%;
      padding: 2%;
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }

    img {
      width: 40%;
    }
  }
}

#becas {
  min-height: 30%;
  background-color: map.get($colores, "secundario_dos");
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    background-color: white;
  }

  article {
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: column;
    align-items: center;

    

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }
  }

  .caja_texto {
    text-align: justify;
    width: 90%;
    background-color: white;

    p {
      margin: 1%;
      padding: 2%;
      height: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }

    img {
      width: 40%;
    }
  }
}