@use "../global/mixins_funciones_mapa" as *;
@use "sass:map";

h3 {
  background-color: #e5c49e; 
}

h4 {
  background-color: #e5c49e; 
}

p {
  color: white; 
}

#ofertas {
  min-height: 30%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  justify-content: space-around;

  article {
    text-align: center;
    width: 30%;

    h3 {
      @include aplicar_fuente('h3', 'Classica-Book');
      border-radius: 5px; 
      width: 100%;
      text-align: center;

      @include pantalla_grande {
        font-size: 3vh; 
      }
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
      font-size: 8vh;
    }
  }
}

#pack {
  min-height: 30%;
  background-color: map.get($colores, "secundario_dos");
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    border-radius: 5px; 
    width: 70%;
    text-align: center;

    @include pantalla_grande {
      font-size: 3vh; 
    }
  }

  h4 {
    @include aplicar_fuente('h4', 'Classica-Book');
    width: 40%;
    text-align: center;
    border-radius: 5px;

    @include pantalla_grande {
      font-size: 3vh; 
    }
  }

  p {
    @include aplicar_fuente('p', 'LTMuseum-Light');
    font-size: 8vh;
  }
}

#seguro_escolar {
  min-height: 40%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    border-radius: 5px; 
    width: 70%;
    text-align: center;

    @include pantalla_grande {
      font-size: 3vh; 
    }
  }

  h4 {
    @include aplicar_fuente('h4', 'Classica-Book');
    width: 20%;
    text-align: center;
    border-radius: 5px;

    @include pantalla_grande {
      font-size: 3vh; 
    }
  }

  @include tableta {
    min-height: 30%;
  }

  article {
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: column;
    align-items: center;

    @include tableta {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }
      imag{
        width: 100%;
      };
    }

    @include pantalla_pequeña {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 2vh;
      }
    }

    @include pantalla_estandar {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 3vh;
      }
    }

    @include pantalla_grande {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 3vh;
      }
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }
  }

  .caja_texto {
    text-align: justify;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    background-color: #e5c49e;

    @include tableta {
      width: 45%;
    }

    @include pantalla_pequeña {
      width: 45%;
    }

    @include pantalla_estandar {
      width: 45%;
    }

    @include pantalla_grande {
      width: 45%;
    }

    p {
      margin: 1%;
      padding: 2%;
      font-size: 3vh;
      @include aplicar_fuente('p', 'LTMuseum-Light');
      color: black; 
    }

    img {
      width: 100%;
    }
  }
}

#becas {
  min-height: 30%;
  background-color: map.get($colores, "secundario_dos");
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    @include aplicar_fuente('h3', 'Classica-Book');
    border-radius: 5px; 
    width: 70%;
    text-align: center;

    @include pantalla_grande {
      font-size: 3vh; 
    }
  }

  article {
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: column;
    align-items: center;

    @include tableta {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }
    }

    @include pantalla_pequeña {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 2vh;
      }
    }

    @include pantalla_estandar {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 3vh;
      }
    }

    @include pantalla_grande {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      picture {
        width: 50%;
      }

      img {
        width: 100%;
      }

      p {
        font-size: 3vh;
      }
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
      color: black;
    }
  }

  .caja_texto {
    text-align: justify;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    background-color: #e5c49e;

    @include tableta {
      width: 45%;
    }

    @include pantalla_pequeña {
      width: 45%;
    }

    @include pantalla_estandar {
      width: 45%;
    }

    @include pantalla_grande {
      width: 45%;
    }

    p {
      margin: 1%;
      padding: 2%;
      font-size: 3vh;
      @include aplicar_fuente('p', 'LTMuseum-Light');
    }

    img {
      width: 100%;
    }
  }
}



