@use 'mixins_funciones_mapa' as *;
@use 'sass:map';

#especialidades {
    box-sizing: border-box;
    @include flexible(flex, column, nowrap, center, center);
    height: 100%;
    background-color: map.get($colores, "secundario_uno");
    overflow: hidden;

    h3 {
        padding-top: 0;
        background-color: white;
        align-self: center;
        margin-top: 10%;
    }

    article {
        margin-left: 0.8%;
        @include flexible(flex, column, wrap, center, center);
        height: 100%;
        width: 100%;
        padding: 0;

        p {
            text-align: center;
            text-transform: uppercase;
            background-color: white;
            height: 10%;
            width: 45%;
            margin: 2%;
            padding: 0;
            @include flexible(flex, row, nowrap, center, center);
        }
    }

    @include movil() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            font-family: 'Classica-Bold';
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Classica-Light';
            }
        }
    }

    @include tableta() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            font-family: 'Classica-Bold';
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Classica-Light';
            }
        }
    }

    @include pantalla_pequeña() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            font-family: 'Classica-Bold';
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Classica-Light';
            }
        }
    }

    @include pantalla_estandar() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            font-family: 'Classica-Bold';
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Classica-Light';
            }
        }
    }

    @include pantalla_grande() {
        box-sizing: border-box;
        @include flexible(flex, column, nowrap, center, center);
        height: 100%;
        background-color: map.get($colores, "secundario_uno");
        overflow: hidden;

        h3 {
            padding-top: 0;
            background-color: white;
            align-self: center;
            margin-top: 10%;
            text-align: center;
            font-family: 'Classica-Bold';
        }

        article {
            margin-left: 0.8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            padding: 0;

            p {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                height: 10%;
                width: 45%;
                margin: 2%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Classica-Light';
            }
        }
    }
}