@use 'mixins_funciones_mapa' as *;
@use 'sass:map';

html, body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}

//Creacion del header
header{
    width: 100%;
    overflow: hidden;
    background-color: map.get($colores, "principal"); 
    @include flexible(flex, row, nowrap, space-around, center);
    @include responsivo_todos();
    
    @include altura("896"){
        height: 10%;
    }
    @include altura("760"){
      height: 17%;
    }    
}

header button{   
    @include movil(){
      
    border-radius: 10%;
    width: 40%;
    
    background-color: white;
    color: black;
    font-family: averia-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    @include altura("896"){
      height: 50%;
      font-size: 16px;
    }
      @include altura("760"){
        height: 40%;
    }
    } 

    @include tableta(){
      border-radius: 10%;
      height: 50%;
      background-color: white;
      color: black;
      font-family: averia-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px;
      @include altura("1024"){
        height: 40%;
        font-size: 18px
      }
      
      

    }

    @include pantalla_pequeña(){
      border-radius: 10%;
      height: 50px;
      background-color: white;
      color: black;
      font-family: averia-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px;
      @include altura("1366"){
        height: 60%;
        font-size: 22px
      }
    }

    @include pantalla_estandar(){
      border-radius: 10%;     
      background-color: white;
      color: black;
      font-family: averia-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px;
      @include altura("800"){
        height: 50%;
        font-size: 20px
      }

      @include altura("864"){
        height: 50%;
        font-size: 22px
      }
    }

    @include pantalla_grande(){
      border-radius: 10%;      
      background-color: white;
      color: black;
      font-family: averia-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px;
      @include altura("1080"){
        height: 50%;
        font-size: 25px
      }

      @include altura("1440"){
        height: 50%;
        font-size: 35px
    }    
      
}

}

#pedir_cita{font-family: 'MilkAndHoney';}

header img{    
    @include movil(){
    max-width: 20% ;     
    object-fit: cover;        
    }

    @include tableta(){
      max-height: 90%;
      object-fit: cover;        
    }
    @include pantalla_pequeña(){
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;        
    }

    @include pantalla_estandar(){
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;        
    }

    @include pantalla_grande(){
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;        
    }
}



