@use '../global/mixins_funciones_mapa' as *;
@use 'sass:map';

#terapeutas {
  min-height: 60%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#terapeutas h3 {
  @include aplicar_fuente('h3', 'Classica-Book');
  text-align: center;
  font-size: 2vh;
  background-color: white;
  width: 90%;
}

#psico1 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;

  // Sin min-height para móviles
  @include tableta {
    min-height: 400px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_pequeña {
    min-height: 500px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_estandar {
    min-height: 600px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_grande {
    min-height: 600px;
    flex-direction: row;
    align-items: normal;
  }

  // Imagen principal: ocupa casi la mitad del contenedor
  img {
    width: 100%;
    @include tableta {
      width: 190%;
    }

    @include pantalla_pequeña {
      width: 338%;
    }

    @include pantalla_estandar {
      width: 180%;
    }
    @include pantalla_grande {
      width: 180%;
    }
  }

  article {
    background-color: map.get($colores, "principal");

    @include tableta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include pantalla_pequeña {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include pantalla_estandar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include pantalla_grande {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h3 {
      @include aplicar_fuente('h3', 'Classica-Book');
      text-align: center;
      height: 2.5vh;
      background-color: white;
      width: 90%;
      margin: 1% auto;

      @include tableta {
        width: 70%;
        margin: 3% auto;
      }
      @include pantalla_pequeña {
        width: 70%;
        margin: 3% auto;
      }
      @include pantalla_estandar {
        width: 70%;
        margin: 3% auto;
        font-size: 2vh;
        height: 3vh;
      }
      @include pantalla_grande {
        width: 70%;
        margin: 3% auto;
        font-size: 2vh;
        height: 3vh;
      }
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
      text-align: justify;
      margin: 3%;
      font-size: 2.6vh;

      @include tableta {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
      @include pantalla_pequeña {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.4vh;
      }
      @include pantalla_estandar {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
      @include pantalla_grande {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
    }
  }

  .redes {
    background-color: map.get($colores, "secundario_dos");
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tableta {
      flex-direction: row;
    }
    @include pantalla_pequeña {
      flex-direction: row;
    }
    @include pantalla_estandar {
      flex-direction: row;
    }
    @include pantalla_grande {
      flex-direction: row;
    }

    // Los iconos: width del 5% sin otros valores
    img {
      width: 5%;
    }
  }

  .texto {
    height: 40%;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 3%;

    @include tableta {
      height: 80%;
    }
    @include pantalla_pequeña {
      height: 85%;
    }
    @include pantalla_estandar {
      height: 46%;
    }
    @include pantalla_grande {
      height: 46%;
    }
  }
}

#psico2 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;

  // Sin min-height para móviles
  @include tableta {
    min-height: 450px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_pequeña {
    min-height: 550px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_estandar {
    min-height: 650px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_grande {
    min-height: 650px;
    flex-direction: row;
    align-items: normal;
  }

  // Imagen principal: ocupa casi la mitad del contenedor
  img {
    width: 100%;
    @include tableta {
      width: 45%;
    }

    @include pantalla_pequeña {
      width: 44%;
    }

    @include pantalla_estandar {
      width: 44%;
    }
    @include pantalla_grande {
      width: 44%;
    }
  }

  article {
    background-color: map.get($colores, "principal");

    @include tableta {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_pequeña {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_estandar {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_grande {
      display: flex;
      flex-direction: row;
    }

    .cont_psico2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h3 {
      @include aplicar_fuente('h3', 'Classica-Book');
      text-align: center;
      height: 2.5vh;
      background-color: white;
      width: 90%;
      margin: 1% auto;

      @include tableta {
        width: 70%;
        margin: 3% auto;
      }
      @include pantalla_pequeña {
        width: 70%;
        margin: 3% auto;
      }
      @include pantalla_estandar {
        width: 70%;
        margin: 3% auto;
        font-size: 2vh;
        height: 3vh;
      }
      @include pantalla_grande {
        width: 70%;
        margin: 3% auto;
        font-size: 2vh;
        height: 3vh;
      }
    }

    p {
      @include aplicar_fuente('p', 'LTMuseum-Light');
      text-align: justify;
      margin: 3%;
      font-size: 2.6vh;

      @include tableta {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
      @include pantalla_pequeña {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.4vh;
      }
      @include pantalla_estandar {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
      @include pantalla_grande {
        font-family: "LTMuseum-Light";
        text-align: justify;
        font-size: 2.8vh;
      }
    }
  }

  .redes {
    background-color: map.get($colores, "secundario_dos");
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include tableta {
      flex-direction: row;
    }
    @include pantalla_pequeña {
      flex-direction: row;
    }
    @include pantalla_estandar {
      flex-direction: row;
    }
    @include pantalla_grande {
      flex-direction: row;
    }

    // Los iconos: width del 5% sin otros valores
    img {
      width: 5%;
    }
  }

  .texto {
    height: 46%;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 3%;

    @include tableta {
      height: 85%;
    }
    @include pantalla_pequeña {
      height: 85%;
    }
    @include pantalla_estandar {
      height: 46%;
    }
    @include pantalla_grande {
      height: 46%;
    }
  }
}
