@use '../global/mixins_funciones_mapa' as *;
@use 'sass:map';

#terapeutas {
  min-height: 60%;
  background-color: map.get($colores, "secundario_uno");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#terapeutas h3 {
  @include aplicar_fuente('h3', 'Classica-Book');
  text-align: center;
  font-size: 3vh;
  background-color: #e9d5c5;
  width: 90%;
  border-radius: 5px;
}

#psico1, #psico2 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
  border-radius: 5px;
  min-height: 450px;

  @include tableta {
    min-height: 450px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_pequeña {
    min-height: 550px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_estandar {
    min-height: 300px;
    flex-direction: row;
    align-items: normal;
  }
  @include pantalla_grande {
    min-height: 650px;
    flex-direction: row;
    align-items: normal;
  }

  .caja_img {
    width: 100%;
    border-radius: 5px;

    @include tableta {
      width: 45%;
    }

    @include pantalla_pequeña {
      width: 44%;
    }

    @include pantalla_estandar {
      width: 40%;
    }
    @include pantalla_grande {
      width: 44%;
    }

    img {
      width: 100%; 
      border-radius: 5px;
    }
  }

  article {
    background-color: map.get($colores, "principal");
    border-radius: 5px;

    @include tableta {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_pequeña {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_estandar {
      display: flex;
      flex-direction: row;
    }
    @include pantalla_grande {
      display: flex;
      flex-direction: row;
    }

    .cont_psico1, .cont_psico2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;

      @include movil {
        height: 400px; 
      }

      @include tableta {
        flex-grow: 1; 
        flex-shrink: 1; 
        flex-basis: 0;
      }
      @include pantalla_pequeña {
        flex-grow: 1; 
        flex-shrink: 1; 
        flex-basis: 0;
      }
      @include pantalla_estandar {
        flex-grow: 1; 
        flex-shrink: 1; 
        flex-basis: 0;
      }
      @include pantalla_grande {
        flex-grow: 1; 
        flex-shrink: 1; 
        flex-basis: 0;
      }

      h3 {
        @include aplicar_fuente('h3', 'Classica-Book');
        text-align: center;
        height: 3.7vh;
        background-color: #e9d5c5;
        width: 90%;
        margin: 1% auto;
        border-radius: 5px;

        @include tableta {
          width: 70%;
          margin: 3% auto;
        }
        @include pantalla_pequeña {
          width: 70%;
          margin: 3% auto;
          font-size: 2.9vh;
        }
        @include pantalla_estandar {
          width: 70%;
          margin: 3% auto;
          font-size: 2.9vh;
        }
        @include pantalla_grande {
          width: 70%;
          margin: 3% auto;
          font-size: 2.9vh;
        }
      }

      p {
        @include aplicar_fuente('p', 'LTMuseum-Light');
        text-align: justify;
        margin: 3%;
        font-size: 0.9em;  

        @include tableta {
          font-family: "LTMuseum-Light";
          text-align: justify;
          font-size: 1em; 
        }
        @include pantalla_pequeña {
          font-family: "LTMuseum-Light";
          text-align: justify;
          font-size: 1.3em; 
        }
        @include pantalla_estandar {
          font-family: "LTMuseum-Light";
          text-align: justify;
          font-size: 1.4em;  
        }
        @include pantalla_grande {
          font-family: "LTMuseum-Light";
          text-align: justify;
          font-size: 1.8em; 
        }
      }
    }
  }

  .redes {
    background-color: map.get($colores, "secundario_dos");
    display: flex;
    justify-content: center;  
    align-items: center;     
    width: 100%;
    border-radius: 5px;
    height: 50px;
    
    ul {
      display: flex;
      justify-content: space-around; 
      width: 100%;
      padding: 0;
      list-style-type: none; 
    }

    li {
      margin: 0 10px; 
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
      font-size: 2rem;
      min-width: 50px;
      text-decoration: none;

      &:hover {
        color: #fff;
      }

      i {
        font-size: 2rem;
      }
    }
  }

  .texto {
    height: 46%;
    display: flex;
    background: #e9d5c5;
    align-items: center;
    justify-content: center;
    margin: 3%;
    border-radius: 5px;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 0;
    width: 100%;
    overflow: hidden; 

    font-size: 1.5em; 

    @include movil {
      width: 90%; 
    }

    @include tableta {
        flex-grow: 1; 
        flex-shrink: 1; 
        height: 85%;
        width: 90%;
        font-size: 1.25em; 
    }
    @include pantalla_pequeña {
        flex-grow: 1; 
        flex-shrink: 1; 
        height: 85%;
        width: 90%;
        font-size: 1.25em; 
    }
    @include pantalla_estandar {
        flex-grow: 1; 
        flex-shrink: 1; 
        height: 40%;
        width: 90%;
        font-size: 1.5em; 
    }
    @include pantalla_grande {
        flex-grow: 1;
        flex-shrink: 1;
        height: 46%;
        width: 90%;
        font-size: 1.5em; 
    }
  }
}
